<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXER 01 - Guilherme S. Duarte</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>GUILHERME SOARES DUARTE</h1>
    <h2>RUA GILBERTO MOREIRA Nº 174</h2>
    <h3>ENGENHARIA DA COMPUTAÇÃO</h3>
    <h4>E-MAIL: GUISOARESDUARTE@HOTMAIL.COM<br />CELULAR 12 99712-7174</h4>
    <h5>ATUALMENTE TRABALHO NA ÁREA DE ANÁLISE DE SISTEMAS, <br />EM UMA EMPRESA DE CONSULTORIA PARA O SISTEMA SAP ARIBA</h5>
    <ol></ol>
        <li>GOSTO DE:</li>
        <li>TREINAR MUSCULAÇÃO</li>
        <li>JOGAR VIDEOGAMES</li>
        <li>ASSISTIR FILMES</li>
        <li>COZINHAR</li>
    </ol>    
    <a href="https://github.com/gduartte1">Minha página do Github</a>

</body>
</html>